<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.fynuu</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.547670864213-6bd7bb3hl2a26g19s6o17lcggrsnot5k</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
